

#form{
    
    background: url(assets/360_F_210459536_XmLDEcKq2DpeNLVmheuWeu9NM9aGKnih.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    input{

        border: solid 2px lightskyblue;
    }
    textarea{

        border: solid 2px lightskyblue;
    }

    select{

        border: solid 2px lightskyblue;
    
    }
    label{
        color: rgba(0, 87, 145, 0.979);
        font-weight: 500;

    }
    legend{
        color: rgba(0, 87, 145, 0.979);
        font-weight: 500;

    }
    b{
        color: rgba(0, 87, 145, 0.979);
        font-weight: 700;

    }

    .btn{
        background-color: rgba(0, 87, 145, 0.979) !important;
        color: white;

    }


}